@import "~bootstrap/scss/bootstrap";


#homepage{
    header {
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
            object-position: top;
        }
    }
    
    .btn {
        padding: 24px 28px;
        font-size: 1.3em;
    }
}